:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body{
    margin: 0;
    background-color: var(--Very-dark-blue-main);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
}

.section-card {
    background-color: var(--Very-dark-blue-card);
    width: 350px;
    height: 625px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
/*     justify-content: center; */
    align-items: center;
}

.main-fig {
    width: 100%;
    height: 340px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-img {
/*     width: 88%;
    height: 88%;
    border-radius: 8px; */
    width: 300px;
    background: url('images/icon-view.svg') center center no-repeat;
    background-color: var(--Cyan);
    background-size: cover;
    margin: auto;
    border-radius: 10px;
}

.icon {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    background-color: var(--Cyan);
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.icon:hover {
    opacity: .5;
    cursor: pointer;
}

.cont-title {
    display: flex;
    align-items: center;
    width: 88%;
    height: 50px;
    margin-bottom: 10px;
}

.cont-title h1 {
    margin: 0;
/*     font-size: 18px; */
    font-weight: 600;
    color: var(--White);
    font-size: 24px;
}

.cont-text {
    display: flex;
    align-items: center;
    width: 88%;
    margin-bottom: 30px;
}
.cont-text p {
    margin: 0;
    font-weight: 300;
    color: var(--Soft-blue);
    font-size: 18px;
}

.container-eth {
    display: flex;
    align-items: center;
    width: 88%;
    height: 20px;
    padding-bottom: 26px;
    justify-content: space-between;
/*     margin-bottom: 40px; */
    border-bottom: solid 1px var(--Very-dark-blue-line);
}
.container-eth img {
    margin-right: 8px;
}
.container-eth .eth {
    display: flex;
    align-items: center;
}
.eth span {
    color: var(--Cyan);
    font-weight: 400;
    font-size: 16px;
}
.container-eth .clock {
    display: flex;
    align-items: center;
}
.clock span {
    color: var(--Soft-blue);
    font-weight: 400;
    font-size: 16px;
}


.main-user {
    display: flex;
    width: 88%;
    align-items: center;
    margin-top: 26px;
/*     border-top: solid 1px var(--White); */
}
.main-user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid var(--White) 1px;
}
.main-user .user-name {
    display: flex;
}
.user-name p {
    margin: 0 5px 0 16px;
    font-weight: 300;
    color: var(--Soft-blue);
}
.user-name span {
    font-weight: 300;
    color: var(--White);
}

@media (max-width: 460px) {
    .section-card {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }